.celular {
    height: 500px;
    width: 250px;
    border: 5px solid #fff;
    border-radius: 15px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.notch {
    background-color: black;
    height: 5%;
}

